# Ignore junk folder
junk/


# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment files
.env
venv/
env/

# Ignore macOS system files
.DS_Store

# Ignore IDE specific files
.idea/
*.swp

# Ignore any personal access token files.
PersonalAccessToken.txt
